{%extends "base.html" %}

{%block content%}
<h2 style="text-align:center;">Add Friend</h2>
<form id="form" method="POST" action="{%url 'tambah-teman:post'%}">
	{%csrf_token%}
	{{input_link_teman}}
	<br>
	<button type="submit" class="btn btn-default">Add</button>
</form>
<h2 style="text-align:center;"> List link ( ͡° ͜ʖ ͡°)</h2>

<div class="card">
	{%for i in link_list%}
	<div class="card-body">
		<h3 class="card-title"> - {{i.nama}} - </h3>
		<a href="{{i.link}}" class="card-link" style="color:Aqua;"> {{i.link}}</a>
		<p href="{{i.tanggal_nge_add}}" class="card-link" style="text-align:left;">{{i.tanggal_nge_add}}</p>
	</div>
	{%endfor%}
</div>
{%endblock%}