<html>
    {% extends "base.html" %}
    
    {% block content %}
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1 align="center">Profile</h1>
        <hr/>
        </div>
        <div id="content">
            <div id="nav">
                    <center>
                            <img width="200px" class="img-circle" src = 'https://i0.wp.com/kupastuntas.co/files/berita-hiburan/2017-05/di-bulan-ramadan-aliando-syarief-masuk-pesantren-01.jpg?ssl=1'>
                        </center>
                <h1 align="center">{{name}}</h1>
                <ul id = "menu" align="center">
                  <h2>
                        {% for ii in about_me %}
                        <li class="label label-info">{{ ii }}</li>
                        {% endfor %}
                  </h2>
                </ul>
            </div>

            <div id="main">
                    <table style="margin-left:400px" align="left">
                      <<h3>
                            <tr>
                              <td>Birthday:</td>
                              <td>{{birthday}}</td> 
                            </tr>
                            <tr>
                              <td>Gender:</td>
                              <td>{{gender}}</td> 
                            </tr>
                            <tr>
                              <td style="padding-right: 40px">Description:</td>
                              <td>{{description}}</td> 
                            </tr>
                            <tr>
                              <td>Email:</td>
                              <td>{{email}}</td> 
                            </tr>
                          </h3>
                    </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>