body {
    background-image: http://moheban-ahlebeit.com/images/Grey-Wallpaper/Grey-Wallpaper-4.jpg;
}

a {
    text-decoration: none;
}

#container {
    background-image: http://moheban-ahlebeit.com/images/Grey-Wallpaper/Grey-Wallpaper-4.jpg;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 10px;
}

#nav {

}

#main {

}

#header {
    font-size: 2px;
}


#nav.selected