body{
    margin-top: 70px;
}

/* Textarea not resizeable */
textarea {
    resize:none
}

/* animasi pada title */
.main-title{
    text-align: center;
}


/* styling wrapper form */
#input-list{
    margin-bottom: 35px;
}

/* styling form */
#input-list form{
    width: 700px;
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
}

#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
   padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

.btn{
    width: 70px;
    height: 40px;
    font-size: 15px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
    width: 290px;
  }
}

#my-list{
    background: #DCDCDC;
    min-height: 600px;
    position: relative;
}

.to-do-list{
    text-align: center;
    background: #FFFFFF;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.flex{
    margin-top: 30px;
    
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 0 15px;
    width: 700px;
    height: 170px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    flex-flow: row wrap;
    position: center;
}

.to-do-list .to-do-list-name{
    text-align: left;
    font-size: 14px;
    padding: 0 10px;
    margin-top: 20px;
}

.to-do-list .img-circle{
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 0 5px 12px 0;
}

.to-do-list .to-do-list-date-added {
    font-size: 11px;
    padding: 0 10px;
    text-align: right;
}
.to-do-list .to-do-list-description {
    text-align: left;
    padding: 10px 10px;
    z-index: 15;
    height: 75px;
    width: 600px;
    text-align: justify;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .flex-item{
      padding : 0 15px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 100%;
      flex-flow: row wrap;
    }
  }

@media only screen and (max-width: 768px) {
    .to-do-list .to-do-list-delete{
        bottom: -50px;
    }
}