{% extends "base.html" %}
{% block content %}
<h1 class="main-title" align="center">Dashboard</h1 >
<hr/>
<p align="center"> <img width="200px" class="img-circle" id = 'image' align = 'middle' src= "http://www.hariandepok.com/wp-content/uploads/2015/07/aliando-syarief.jpg" alt="Profile"> </p>
<h3 align="center" class="main-title"><strong>Aliando Syarief</strong></h3>
<br>
<br>
<hr/>
<center><section>
	<h3>
		Total Post: {{ total }} Post
	</h3>	
	<h4>
		Last Post:
	</h4>
	<h4>
		"{{ last.description }}" 
	</h4>
	<h4> Created on {{ last.created_date }} </h4>
</section></center>
{% endblock %}
