{% extends "base.html" %}

{% block content %}
<h2 class="main-title">What Are You Doing Today?</h2>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'update-status:add_todo' %}">
            {% csrf_token %}
            {{ todo_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-info" value="Post">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="container>
					<div class="flex">
						{% if todo %}
							{% for data in todo %}
								<div class="flex-item">
									<div class="to-do-list">
										<div class="to-do-list-name">
												<img class="img-circle" src="http://www.hariandepok.com/wp-content/uploads/2015/07/aliando-syarief.jpg" vertical-align="middle" width="40" height="40">
											<strong>Aliando Syarief</strong>
										</div>
										<div class="to-do-list-description">
											{{data.description}}
										</div>
										<div class="to-do-list-date-added">
											{{data.created_date}}
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
						<div class="alert alert-danger text-center">
							<strong>Huft!</strong> Your timeline is empty:(
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
    </div>
</section>

{% endblock %}
